/*Import css files */
@import url(bootstrap.min.css);
/*Import sass files */
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
body {
  font-family: Lato; }

a:hover {
  text-decoration: none; }

/* Colors
 */
/* Fonts
 */
.comingSoon {
  background-image: url("../img/bg-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
  position: absolute; }
  .comingSoon:before {
    content: "";
    background-color: #d39f0c;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }

.header {
  position: relative;
  padding-top: 30px;
  z-index: 1;
  display: none; }
  .header-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
    .header-list li {
      margin-right: 2em; }
      .header-list li:last-child {
        margin-right: 0; }
      .header-list li a {
        color: #d4d4d6;
        font-size: 25px;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease; }
      .header-list li:hover .icon-twitter {
        color: #37b4ff; }
      .header-list li:hover .icon-facebook2 {
        color: #3a5795; }
      .header-list li:hover .icon-envelope {
        color: white; }

.body {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .body-logo {
    width: 300px; }
    .body-logo img {
      width: 100%; }
  .body-contact a {
    color: #d39f0c;
    border: 1px solid white;
    background-color: white;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease; }
    .body-contact a:hover {
      background-color: rgba(230, 230, 230, 0.8);
      color: #8b6808; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%; }
  .footer small {
    color: white; }
